Library
Temp
Assets/TriLib
Assets/TriLib.meta
Assets/Plugins/SimpleFileBrowser
Assets/Plugins/SimpleFileBrowser.meta
Assets/QuickOutline
Assets/QuickOutline.meta
Assets/JsonDotNet
Assets/JsonDotNet.meta
Assets/StreamingAssets
Assets/StreamingAssets.meta
obj

.vsconfig
.vs
*.sln
*.csproj